 body {
     background-color: aqua;
 }

 .text-container {
     text-align: center;
 }

 @media only screen and (max-width:1400px) {
     body {
         background-color: aqua;
     }
 }

 @media only screen and (max-width:1200px) {
     body {
         background-color: aquamarine;
     }
 }
 @media only screen and (max-width:992px) {
    body{
        background-color: azure;
    }
 }
 @media only screen and (max-width:768px){
    body{
        background-color: aliceblue;
    }
 }
 @media only screen and (max-width:576px) {
    body{
        background-color: cadetblue;
    }
 }
