.img-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.img-section img {
    border-radius: 10px;
    width: 30%;
    height: auto;
    margin-bottom: 20px;
}

.main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
}

.main img {
    object-fit: cover;
    width: 14%;
    border-radius: 10px;
}

.main h2,
p {
    padding-left: 10px;
}

aside {
    border-radius: 15px;
    background-color: #ccc;
    width: 97%;
    float: none;
    padding: 15px;
    margin-top: 30px;
}